body{
  background: url('fond2.jpg');
  background-size: cover;

}

.filter {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  height: 100%;
}


.square{
	
display: flex;
	
justify-content: space-around;	
	
	
	
	
	
}

.divSquare{
	
	width: 100px;
	height: 100px;
	margin: 5px;
	
   
  transition: 5s ease-in-out;

     transform: translate(0,700px);

}
.divSquare:hover{
	
	background: blue;
     transform: translate(0,-700px);
	
	
     
<<<<<<< HEAD
   transition: 1s bottom, 4s 1s left cubic-bezier(0,1,1,1);	
}

.ayouPict {
  width: 75%;
  height: auto;
  z-index: 3;
}
.victoriaPict {
  width: 90%;
  z-index: 3;
}

.sylvainPict {
  width: 75%;
  z-index: 3;
}
.eleonorePict{
  width:90;
  z-index: 3;
=======
  transition: 1s bottom, 3s 1s right cubic-bezier(1,1,1,1);

	
	
>>>>>>> 9c5230ff16180f4b40979a36003b8ed7c8a6de37
}